<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <img src="/assets/pic.jpg" id ="background-image"/>
    <p>
      PDRank, let us help you find the documents you need.
    </p>

    <p> We are PDRank, a group of developers that strive to find the latest and most effective treatments for patients
    with a certain set of conditions, no longer requiring the most experienced doctors to have to continuously read papers
    to stay up to date. </p>

    <p>
      Please visit our <%= link_to 'home', root_path %>
      page.

      For more help on this website, please visit our
      <a href="home.html.erb">home</a>
      page.
    </p>

    <div class="floating-box">
      <img src="/assets/ethanprof.jpg" id ="face" />
      <br>
      <member><b>Ethan Zhou</b></member>
      <br>
    </div><div class="floating-box">
      <img src="/assets/johnprof.jpg" id ="face" />
      <br>
      <member><b>John Baik</b></member>
      <br>
    </div><div class="floating-box">
      <img src="/assets/jerryprof.jpg" id ="face" />
      <br>
      <member><b>Jerry Ho</b></member>
      <br>
    </div><div class="floating-box">
      <img src="/assets/chrisprof.jpg" id ="face" />
      <br>
      <member><b>Chris Tseng</b></member>
      <br>
    </div><div class="floating-box">
      <img src="/assets/peterprof.jpg" id ="face" />
      <br>
      <member><b>Youyun Zheng</b></member>
      <br>
    </div>

  </body>
</html>
