<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
<<<<<<< HEAD
    <p>
      JamSesh, let your music flow.
    </p>

    <p> We are JamSesh, a group of developers looking to find jam sessions around us. We want to connect musicans with other musicans based on location, style, and convenience</p>

    <p>
      Please visit our
      <a href="home.html.erb">home</a>
      page.

      For more help on this website, please visit our
      <a href="http://finder.psychiatry.org/">help</a>
      page.
    </p>
=======
      <p>
        JamSesh, let your music flow.
      </p>

      <p> We are JamSesh, a group of developers looking to find jam sessions around us. We want to connect musicans with other musicans based on location, style, and convenience</p>

      <p>
        Please visit our
        <a href="home.html.erb">home</a>
        page.

        For more help on this website, please visit our
        <a href="http://finder.psychiatry.org/">help</a>
        page.
      </p>
>>>>>>> origin/master
  </body>
</html>
