<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      PDRank, let us help you find the documents you need.
    </p>

    <p> We are PDRank, a group of developers that strive to find the latest and most effective treatments for patients
    with a certain set of conditions, no longer requiring the most experienced doctors to have to continuously read papers
    to stay up to date. </p>

    <p>
      Please visit our
      <a href="home.html.erb">home</a>
      page.

      For more help on this website, please visit our
      <a href="home.html.erb">home</a>
      page.
    </p>

  </body>
</html>
