<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      Come find other musicans around you! Discover new talents. Make new Friends.
    </p>

    <p>Where strangers become friends, and your neighbors come hate you. </p>
    
    
  </body>
</html>

