<%= provide(:title, 'Contact') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
        Please email dirtybits@gmail.com for any inquiries.
    </p>
  </body>
</html>