<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      Our very helpful page, full of wonderful resources.
    </p>
  </body>
</html>
