<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/microposts_form' %>
        </section>
      </aside>
    </div>
<% else %>
  <head>
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <img src="/assets/library.jpg" id="background-image" /><br>
    <div class=" center jumbotron">
      <img src="/assets/PDRankLogo.jpg" id ="logo" />
      <h1>PDRank</h1>
      <h2>
        Ranking your PDF files in order of significance to your research needs. Upload your own choice of PDFs, or we can search them for you.
      </h2>
      <%= link_to 'Sign up now!', signup_path, class: 'signup-btn btn btn-lg btn-primary' %>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
      </div>
      <div class="col-md-5 pull-md-7">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">
<%end%>
  </body>
</html>
