<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/microposts_form' %>
        </section>
      </aside>
    </div>
<% else %>
  <head>
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <img src="/assets/library.jpg" id="background-image" />
    <div class=" center jumbotron">
      <img src="/assets/PDRankLogo.jpg" id ="logo" />
      <h1>PDRank</h1>
      <h2>
        Ranking your PDF files in order of significance to your research needs. Upload your own choice of PDFs, or we can search them for you.
      </h2>
      <%= link_to 'Sign up now!', signup_path, class: 'signup-btn btn btn-lg btn-primary' %>
    </div>
    <div class=" center jumbotron">
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/bluebackground.jpeg" alt="Generic placeholder image" width="140" height="140" id = "frontpagepic">
          <h3>Upload</h3>
          <p1>Upload your articles to our database</p1>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/bluebackground.jpeg" alt="Generic placeholder image" width="140" height="140" id = "frontpagepic">
          <h3>Search</h3>
          <p1>Search the keywords on our website</p1>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/bluebackground.jpeg" alt="Generic placeholder image" width="140" height="140" id = "frontpagepic">
          <h3>Treatment</h3>
          <p1>We do your research for you</p1>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
<%end%>
  </body>
</html>
