<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <img src="/assets/bgLevitationImg.jpg" id="background-image" />
      <div class="center_jumbotron">
      <h1>Welcome to JamSesh</h1>
      <h2>
        The baest application evar.
      </h2>
      <%= link_to 'Click here for more Jams', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>

    <div class="lower_jumbotron">

      <subdiv class ="lower_left">
        <subheader>
          Who we are <br/>
        </subheader>
        <subtext>
          We are a group of developers seeking to create a diverse community of musicians
        </subtext>
      </subdiv>

      <subdiv class = "lower_center">
        <subheader>
          What we do<br/>
        </subheader>
        <subtext>
          To create a diverse community of musicians who want to enhance their musical tastes by experimenting with new forms of music and connecting with like-minded people
        </subtext>
      </subdiv>

      <subdiv class = "lower_right">
        <subheader>
          How this works<br/>
        </subheader>
        <subtext>
          Create your profile, and we will do the rest
        </subtext>
      </subdiv>

    </div>

    <p>
      This is the home page for JamSesh.
    </p>
  </body>
</html>
