<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <img src="/assets/bgLevitationImg.jpg" id="background-image" />
    <div class="center jumbotron">
      <h1>Jam Sesh</h1>
      <h2>
        Our home page.
      </h2>
      <%= link_to 'Sign up now!', signup_path, class: 'signup-btn btn btn-lg btn-primary' %>
    </div>

    <p>
    </p>
  </body>
</html>
