<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
  <head>
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <img src="/assets/library.jpg" id="background-image" />
    /n
    <div class=" center jumbotron">
      <img src="/assets/PDRankLogo.jpg" id ="logo" />
      <h1>PDRank</h1>
      <h2>
        Ranking your PDF files in order of significance to your research needs. Upload your own choice of PDFs, or we can search them for you.
      </h2>
      <%= link_to 'Sign up now!', signup_path, class: 'signup-btn btn btn-lg btn-primary' %>
    </div>
  <div class = "home-page-about container">
    <h1>
      /n
    </h1>
    <h2> CUTTING EDGE OF MEDICAL TREATMENT ON THE GO </h2>
    <h3> </h3>
    <div class="panel-group">
    <div class = "panel panel-info">
      <div class="panel-heading">What is this?</div>
      <div class="panel-body">PDRank is a multi-platform app that helps professionals have a quick way of querying for keywords and receive a quick insight from many relevant PDF documents. In this way, this website will provide them with easy to search details
        about the latest treatments for patients with a certain set of conditions, no longer requiring the
        most experienced doctors to have to continuously read papers to stay up to date.</div>
    <!--<h2>-->
      <!--Who Are We?-->
    <!--</h2>-->
     <!--<p>-->
      <!--We want to connect you to other local musicians who want to collaborate in creating the next band,-->
     <!--</p>-->
    </div>
      <div class = "panel panel-info">
        <div class="panel-heading">What Do We Do?</div>
        <div class="panel-body">Provide a platform where students and other professionals can quickly mine the data from a list of PDF files aquired.</div>
      </div>
    </div>
  </div>

  </body>
</html>
