<div class="profile">

  <div class="col-md-8">
    <h1><%= current_user.name %></h1>
    <br>
    <h7><%= pluralize(current_user.microposts.count, "comment") %></h7>
    <br>
    <h7><%= pluralize(current_user.microposts.count, "documents") %></h7>
  </div>
</div>

