// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile > .col-md-8 > h7{
  color: white;
}
.profile > .col-md-8 > h1{
  color: white;
  text-align: left;
  line-height: 1;
  margin-top: 0%;
}