// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile > .col-md-8 > h7{
  color: white;
}
.profile > .col-md-8 > h1{
  color: white;
  text-align: left;
  line-height: 1;
  margin-top: 0%;
}
.comments{
  .col-md-2{
    margin: 0 auto;
    .picture{
      width:100%;
      height:100%;
      margin:0 auto;
    }
  }
  .col-md-10{
    padding-left: 50px;
    h1.comment-user{
      font-size: 1.5em;
      margin-top: 0px;
      text-align: left;
      color: red;
    }
    h2{
      text-align: left;
    }
    h3{
      text-align: left;
      font-size:small;
      color: grey;
    }
  }
}