<footer class="footer">
  <small>
    <%= link_to 'JamSesh', root_path %>
    brought to you by
    <a href="http://www.github.com/ezhou7/JamSesh2">Team Dirty Bits</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="reddit.com/r/news">News</a></li>
    </ul>
  </nav>
</footer>