<footer class="footer">
  <small>
    <%= link_to 'JamSesh', root_path, {:class => 'page-link'} %>
    brought to you by
    <a href="http://www.github.com/ezhou7/JamSesh" class="page-link">Team Dirty Bits</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path, {:class => 'page-link'} %></li>
      <li><%= link_to 'Contact', contact_path, {:class => 'page-link'} %></li>
      <li><a href="http://www.github.com/ezhou7/JamSesh2">News</a></li>
    </ul>
  </nav>
</footer>